.whoWeAre {
   background-color: var(--color-cobalt);
   color: var(--color-white);
   display: flex;
   padding: 6.25rem 15.75rem;
   align-items: center;
   gap: 7.5rem;
}

.whoWeAre img {
   width: 22.5rem;
   object-fit: cover;
}

.whoWeAre .text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.5625rem;
}
