.wiseflowAndOriginality {
  background-color: var(--color-cobalt);
  width: 100%;
  display: flex;
  padding: var(--padding-100) var(--padding-252);
  align-items: center;
  gap: var(--gap-120);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wiseflowAndOriginality p {
  color: var(--color-white);
}

.image {
  width: 22.5rem;
}
