.mainCapabilities {
  display: flex;
  padding: 0rem 0rem 0rem 9.75rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.inactive > * {
  opacity: 0.5;
}

.textArea {
  display: flex;
  width: 22.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5625rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.imageArea {
  padding: 4.6875rem 15.75rem 4.6875rem 4.5rem;
  border-radius: 1.5625rem 0rem 0rem 1.5625rem;
  background: var(--color-grey);
}

.imageArea img {
  max-width: 100%;
  height: auto;
  width: 32.73063rem;
}
