.whereWeWork {
  display: flex;
  padding: 0rem var(--padding-156);
  flex-direction: column;
  gap: var(--gap-50);
}

.mapWithBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-120);
}

.areas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 456px;
}

.area {
  display: flex;
  padding: 0.9375rem;
  flex-direction: column;
  gap: var(--gap-10);
  border: 5px solid var(--color-cobalt);
}

.area > p {
  font-size: var(--font-size-12px);
}

.image {
  object-fit: cover;
  width: 34.5rem;
  aspect-ratio: 1/1;
}
