.digitalAssessmentHub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-75);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap-75);
}

.hub {
  display: flex;
  width: 18.75rem;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border: 5px solid var(--color-cobalt);
  background: var(--color-white);
}

.hub p {
  font-size: var(--font-size-14px);
  height: 100%;
}
