.header {
  padding: var(--padding-25) 4rem;
  color: var(--color-cobalt);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-cobalt);
  position: fixed;
  z-index: 1000;
  width: 100dvw;
  background-color: var(--color-white);
}

.navbar {
  display: flex;
  align-items: center;
  gap: var(--gap-100);
}

.menu {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-100);
  align-self: stretch;
  list-style: none;
}

.menu a {
  color: var(--color-cobalt);
}

.menu a:hover,
.menu li:hover,
.active {
  text-decoration-line: underline;
  text-decoration-thickness: 10%; /* 1.6px */
}

.dropdown {
  width: 11.9375rem;
  padding: 0.625rem;
  flex-direction: column;
  gap: var(--gap-10);
  position: absolute;
  list-style: none;
  background-color: var(--color-cobalt);
  color: var(--color-white);
}

.dropdown a {
  font-size: var(--font-size-14px);
  color: var(--color-white);
}
