@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");

:root {
  /* --- color --- */
  --color-cobalt: #0411b1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #e3e3e3;

  /* --- font family --- */
  --font-family: "Signika", sans-serif;

  /* --- font weights --- */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* --- font sizes --- */
  --font-size-44px: 2.75rem;
  --font-size-24px: 1.5rem;
  --font-size-22px: 1.375rem;
  --font-size-16px: 1rem;
  --font-size-14px: 0.875rem;
  --font-size-12px: 0.75rem;
  --font-size-10px: 0.625rem;

  /* --- padding --- */
  --padding-325: 20.3125rem;
  --padding-252: 15.75rem;
  --padding-156: 9.75rem;
  --padding-100: 6.25rem;
  --padding-75: 4.6875rem;
  --padding-50: 3.125rem;
  --padding-25: 1.5625rem;

  /* --- gap --- */
  --gap-150: 9.375rem;
  --gap-120: 7.5rem;
  --gap-100: 6.25rem;
  --gap-75: 4.6875rem;
  --gap-50: 3.125rem;
  --gap-25: 1.5625rem;
  --gap-10: 0.625rem;

  /* --- corner --- */
  --corner-25: 1.5625rem;
  --corner-5: 0.3125rem;
}

/* --- reset --- */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16px);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.blue-block {
  background-color: var(--color-cobalt);
  color: var(--color-white);
}

.white-block {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* --- global styles --- */

main {
  min-height: 100vh;
  display: flex;
  padding: 104px 0rem var(--padding-325) 0rem;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-150);
  overflow: hidden;
}

.greyBox {
  padding: var(--padding-50) var(--padding-75);
  border-radius: var(--corner-25);
  background: var(--color-grey);
}

.greySideBox {
  padding: var(--padding-50) var(--padding-50) var(--padding-50)
    var(--padding-156);
  border-radius: 0rem var(--corner-25) var(--corner-25) 0rem;
  background: var(--color-grey);
}

.greyFullBox {
  padding: var(--padding-75) 0rem var(--padding-100) 0rem;
  background: var(--color-grey);
}
