.factsContainer {
  display: flex;
  padding: 0rem 12.5rem;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-100);
  align-self: stretch;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-10);
  align-self: stretch;
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
