.slider {
  display: flex;
  width: 100vw;
  padding: var(--padding-100) var(--padding-156);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-cobalt);
  height: 24.5rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3125rem;
  height: 4.3125rem;
  border-radius: 50%;
  background-color: var(--color-white);
}

.arrow > svg {
  color: var(--color-cobalt);
  height: 2.25rem;
}

.text {
  color: var(--color-white);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  height: 100%;
}

.text p {
  font-size: var(--font-size-14px);
}

.slider.white {
  height: 8.75rem;
  padding: 0rem var(--padding-156);
  background-color: var(--color-white);
}

.arrow.white {
  background-color: var(--color-cobalt);
}

.arrow.white > svg {
  color: var(--color-white);
}

.text.white {
  color: var(--color-black);
}
